*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

html
{
    background:url('background/3.jpg')no-repeat center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}

body{
    /* background-image: url(background/3.jpg); */
    background-repeat: no-repeat;

    
}

/* sidebar/navbar */

header{
    height: 100px;
    color: seashell;
   
}

header h1{
    
    display: inline-block;
    float: left;
    padding: 15px 2px;
    
  
}
header h1 a{
    transition: .3s;
    color: seashell;
    border-radius: 5px;
}

header ul{
    
    float: right;
}

header ul li{
    
    display: inline-block;
    padding: 25px;
}

a{
    text-decoration: none;
    
}
header ul li a{
    color: azure;
    transition: .2s;
}

header h1 a:hover{
 
    border-radius: 5px;
}

header ul li a:hover{
    
    border-radius: 5px;
}
.container{
    width: 90%;
    margin: 0 auto;

}

.mobile-menu{
   
    float: right;
    display: none;
    
}
#check{
    display: none;
}

.sidebar{
    position: fixed;
    top: -300px;;
    bottom: 0;
    width: 100%;
    height: 50px;
    transition: .8s;
    background-color: rgba(70, 75, 66, 0.5);
    z-index: 99;

}


.sidebar ul li a{
    color: seashell;
    transition: .3s;
    padding: 5px;
    text-align: center;
    font-size: 12px;
     
}

.sidebar ul li{
    
    padding-top: 18px;
    width: 100%;
    
    transition: .3s;
    display: inline-block;
    text-align: center;
    
    
}

.sidebar ul li:hover{
    background-color:rgba(62,53,53,.5);
}

#check:checked ~ .sidebar{
    top: 50px;;
}

section{
    padding: 50px 0;

}

.banner{
    max-width: 100%;
    
}

.banner img{
    width: 100px;
    border-radius: 10px;
    box-shadow: silver;
}

.banner h2{
    color: snow;
}

.banner{
    
    width: 50%;
    height: 200px;
    
}

.banner2{
    
    width: 40%;
    height: 200px;
    background-color: rgba(167, 238, 238, .1);
    margin-top: -300px;
    margin-left: 50%;
    text-align: center;
    color: rgb(240, 247, 242);
    font-weight: bold;
}

.banner2 h3{
    color: azure;

}


/* responsif */
@media only screen and (max-width: 768px) {
    .mobile-menu{
        display:block;
        padding: 10px;
        cursor: pointer;
        
        
    }
    header ul{
        display: none;
    }
    .banner{
        text-align: center;
        width: 100%;
    }
    .banner2{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        height: 250px;
    }


    }

    
}
p{
    color: #0fa3ec;
}

a
	{
		
		display:inline-block;
		
		color: #edf0f3;
		
		text-decoration: none;
		overflow: hidden;
		transition: 0.1s;
		cursor: pointer;

	}
	/*#255784, */
	a:hover
	{
		color: #f2f4f5;
		background: #2595f1;
		box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
		transition-delay: 0.1s;
        border-radius: 5px;
	}
	a span
	{
		
		display: inline-block;
	}
	a span:nth-child(1)
	{
		top: 0;
		left: -100%;
		width: 100%;
		height: 10px;
		background: linear-gradient(90deg,transparent,#2196f3);
        transition: 0.1s;

	}
	a:hover span:nth-child(1)
	{
		left: 100%;
		transition: 0.1s;
	}
	a span:nth-child(3)
	{
		bottom: 0;
		right: 100%;
		width: 100%;
		height: 10px;
		background: linear-gradient(270deg,transparent,#2195f3);
        
        right: 100%;
		transition: 1s;
		transition-delay: 0.1s;
	}
	a:hover span:nth-child(3)
	{
		right: 100%;
		transition: 1s;
		transition-delay: 0.5s;
	}
	a span:nth-child(2)
	{
		top: -100%;
		right: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(180deg,transparent,#2196f3);

        top: 100%;
		transition: 1s;
		transition-delay: 0.25s;
	}
	a:hover span:nth-child(2)
	{
		top: 100%;
		transition: 1s;
		transition-delay: 0.25s;
	}
	a span:nth-child(4)
	{
		bottom: 100%;
		left: 0;
		width: 10px;px;
		height: 100%;
		background: linear-gradient(360deg,transparent,#2196f3);

        bottom: 100%;
		transition: 1s;
		transition-delay: 0.75s;
	}
	a:hover span:nth-child(4)
	{
		bottom: 100%;
		transition: 1s;
		transition-delay: 0.75s;
	}



.box
{
 position: relative;
 width: 115px;
 height: 115px;
 display: flex;
    justify-content: center;
    align-items: center; 
    /* background: rgba(0, 0,0, 0.5);  */
    overflow: hidden;
    border-radius: 20px;
}


.box::before
{
    content: '';
    position: absolute;
    width: 50px;
    height: 150%;
    background: linear-gradient(#5c0cf1,#24ee09);
    animation: animate 5s linear infinite;

}

.box::after
{
    content: '';
    position: absolute;
    inset: 4px;
    /* background: rgb(7, 7, 7); */
}

@keyframes animate
{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg);
    }
}
.box img
{
    position: relative;
    z-index: 10;

}

/* end */

